.DS_STORE
*.class
problemset
build
*.o
hawken
cdedup
*/solutions/hawken_wrong
*/solutions/martinvl
*/solutions/martinvl_slow
*/solutions/martinvl_wrong
*/solutions/martinvl_wrong2
*/solutions/kjetimh
*/solutions/kjetimh_wrong
*/solutions/joakimjl
*/solutions/olalia
*/solutions/olalia_slow
*/solutions/hennilu
*/solutions/sjurtf
ssnw/server/main
